@keyframes backgroundColorAnimation {
    from {background-color: white;}
    to {background-color: rgba(229, 50, 50, 1);}
}

.addAnimation {
    animation: backgroundColorAnimation 1s forwards;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* background-color: white;  */
}


/* Flags/language */
#language {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 130px;
}

#language img {
    position: relative;
    top: 50%;
    left: 0;
    height: 60%;
}

a {
    text-decoration: none;
}

/* Intro - first page */
#intro {
    display: flex;
    flex-direction: column;
    /* border: solid; */
    height: 65%;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    text-align: center;
}

.store {
    width: 120px;
}

/* Icon */
.arrow-down {
    border: solid rgba(229, 50, 50, 1);;
    border-width: 0 5px 5px 0;
    padding: 12px;
    margin-top: 10%;
    transform: rotate(45deg);
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 50%;
    height: 200px;
    width: 35px;
    margin-top: -100px;
}

.position-dots {
    position: relative;
    height: 25px;
    width: 35px;
    /* text-align: center; */
}


.circle {
    position: absolute;
    border: solid grey;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -3px; 
    /* margin: 10px; */
}

#frame {
    position: absolute;
    height: 200px;
    width: 290px;
    left: 50%;
    margin-left: -145px;
    bottom: 55px;
}

.inner-frame-borders {
    position: relative;
    border: red solid;
    width: 175px;
    height: 60px;
    left: 55px;
    top: 126px;
    margin-bottom: 8px;
    opacity: 0;
}

.mobile-frame {
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    /* border: solid; */
}

.mobile-inner-frame {
    position: absolute;
    width: 190px;
    top: 75px;
    left: 50px;
}

/* Functionality page */
.leftText {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 25%;
    left: -10%;
    width: 25vw;
    /* min-height: 30vh; */
    /* border: solid; */
    margin-left: 10vw;
    
}

/* Unpaid */
.unpaid {
    /* display: none; */
    opacity: 1;
    position: absolute;
    top: 25%;
    right: 0;
    width: 25vw;
    /* min-height: 30vh; */
    /* border: solid; */
    margin-right: 10vw;
}

/* Prices */
#prices {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */

    position: absolute;
    left: -15vw;
    top: 50vh;
    width: 65vw;
    height: 50vh;
    /* border: solid; */
    margin-top: -25vh;
    opacity: 0;
}

#prices > section {
    min-width: 200px;
    padding: 20px;
}

/* Show benefits */

#showBenefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* z-index: 1; */
    color: white;
    /* background-color: rgba(229, 50, 50, 1); */
    /* width: 100vw; */
    height: 100vh;
    opacity: 0;
}

#showBenefits-inner-div {
    display: flex;
    width: 80vw;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* align-content: space-between; */
    justify-content: space-around;
    /* border: solid; */
}

#showBenefits-inner-div > section {
    width: 35vw;
    /* border: solid; */
}

#showBenefits-inner-div button {
    padding: 10px 40px;
    border-radius: 10px;
    margin: 30px 0 0 25px;
    /* margin-left: 25px; */
}

