body {
    /* margin: 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Flags/language */
#language {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 130px;
}

#language img {
    position: relative;
    top: 50%;
    left: 0;
    height: 60%;
}

a {
    text-decoration: none;
}

/* Intro - first page */
#intro {
    display: flex;
    flex-direction: column;
    /* border: solid; */
    height: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    text-align: center;
}

.store {
    width: 120px;
}

/* Icon */
.arrow-down {
    border: solid red;
    border-width: 0 5px 5px 0;
    padding: 12px;
    margin-top: 10%;
    transform: rotate(45deg);
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 50%;
    height: 200px;
    width: 35px;
    margin-top: -100px;
}

.position-dots {
    position: relative;
    height: 25px;
    width: 35px;
    /* text-align: center; */
}


.circle {
    position: absolute;
    border: solid grey;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -3px; 
    /* margin: 10px; */
}

#frame {
    position: relative;
    height: 200px;
    width: 295px;
    border: solid;
}

.mobile-frame {
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    border: solid;
}